<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <ion-title><img src="../../assets/logon.png"></ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="primary">
                <ion-list>
                </ion-list>
            </ion-content>
            <ion-item (click)="exitApp()" color="primary">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-text>
                    <h6>Salir</h6>
                </ion-text>
            </ion-item>
            <ion-item color="primary">
                <ion-label text-center style="font-weight: bold;">
                    Versión 1.0.0
                </ion-label>
            </ion-item>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>