<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Detalle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <ion-item>
            <ion-input required type="text" placeholder="Razón Social" maxlength="40" required [(ngModel)]="todo.social"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="text" placeholder="Dirección" required [(ngModel)]="todo.adress"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="text" placeholder="País" required [(ngModel)]="todo.country"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="text" placeholder="Provincia" required [(ngModel)]="todo.province"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="text" placeholder="Tipo de tienda" required [(ngModel)]="todo.typeStore"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="number" placeholder="Teléfono" required [(ngModel)]="todo.phone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input required type="number" placeholder="Iva" required [(ngModel)]="todo.iva"></ion-input>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label>Identificación</ion-label>
                <select placeholder="Seleccione uno" [(ngModel)]="todo.identificacion">
                    <option value="cuit">CUIT</option>
                    <option value="cuil">CUIL</option>
                    <option value="dni">DNI</option>
                </select>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-input required type="number" placeholder="Número" required [(ngModel)]="todo.number"></ion-input>
        </ion-item>

    </ion-list>
    <ion-button expand="full" (click)="saveTodo()">Guardar</ion-button>
</ion-content>