<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Puntos de venta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ng-container *ngIf="!todos || todos.length == 0">
            <div *ngFor="let n of [0,1,2]" padding>
                <ion-skeleton-text></ion-skeleton-text>
                <p>
                    <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
                </p>
            </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of todos">
            <ion-item lines="inset" button [routerLink]="['/details', item.id]">
                <ion-label>
                    <p class="title"> {{ item.social }} </p>
                    <p>{{ item.cuit }}</p>
                    <p>{{ item.typeStore }}</p>
                    <p>{{ item.createdAt | date:'short' }}</p>
                </ion-label>
                <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="remove(item)" color="danger">
                    Eliminar
                    <ion-icon name="trash" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/details" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>